<!DOCTYPE html>
<html>
  <head>
    <title> Events </title>
    {% include "lib.html" %}
  </head>
  
  <body>
    {% include "navbar.html" %}
    <h1 align="center"> Events </h1>
    <!--dictionary within a list. [{'title': Title, 'info':info}, {same thing}]-->
    <div>
      {% for x in events %}
      <h4> <a href="/Events/{{x['key']}}">{{x['name']}} </a></h4>
      <blockquote> 
	Start Date: {{x['start_date'][:10]}}
	<br>
	End Date: {{x['end_date'][:10]}}
      </blockquote>
      {% endfor %}
    </div>
  </body>
</html>
