<meta name="viewport" content="width=device-with, initial-scale=1.0">
<link href="../static/bootstrap.min.css" rel="stylesheet">

<style type="text/css">
  body{
  padding-top: 50px;
  }
  
  .navbar-inverse{
  background-color: #B20000;
  border-color: #B20000;
  }
  
  .navbar-inverse .navbar-brand{
  color: #FFFFFF;
  }
  
  .navbar-inverse .navbar-nav > li > a{
  color: #FFFFFF;
  }
 
  .navbar-inverse .navbar-nav > li> a:hover{
  color:#000000;
  background-color:#FFFFCC;
  }
  
  .table-responsive{
  padding: 0px 50px;
  }
  
</style>
  
