<!DOCTYPE html>
<html>
  <head>
    <Title> {{team['nickname']}} </title>
    {% include "lib.html" %}
  </head>
  
  <body>
    {% include "navbar.html" %}
    <h1 align="center"> {{team['nickname']}} </h1>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
	<div class="accordion-heading">
	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	    Overall Stats </a>
	</div>
	<div id="collapseOne" class="accordion-body collapse in">
	  <div class="accordion-inner">
	    {% for x in stats.keys() %}
	    {{x}} : {{stats[x]}}
	    {% endfor %}
	  </div>
	</div>
      </div>
      {% for d in events %}
      <div class="accordion-group">
	<div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            {{d['name']}}</a>
        </div>
	<div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            {% for x in d['stats'].keys() %}
            {{x}} : {{d['stats'][x]}}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
