<!DOCTYPE html>
<html>
  <head>
    <title> FRC Teams </title>
    {% include "lib.html" %}
  </head>
  
  <body>
    {% include "navbar.html" %}
    <h1 align="center"> Team Stats </h1>
    <div class="table-responsive">
      <table class="table table-striped">
	<th> Team </th>
	<th> OPR </th>
	<th> DPR </th>
	<th> Diff PR </th>
	{% for x in teams %}
	<tr>
	  <td> <a href="/Teams/{{x['team']}}"> {{x["team"]}}</a></td>
	  <td> {{x["OPR"]}} </td>
	  <td> {{x["DPR"]}} </td>
	  <td> {{x["Diff"]}} </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </body>
</html>
